/* Navbar CSS */

.navbar {
    background-color: white !important;
    /* height: 80px; */
    /* border: thin solid red; */
}

.navbar {
    background-color: white !important;
    /* height: 80px; */
    /* border: thin solid red; */
}

.navbar-brand {
    /* margin-bottom: -40px; */
    margin-left: 30px;
}

.logo-img {
    position: absolute;
    height: 140px;
    top: 1px;
    padding: 10px 0;
}

nav ul li a.active,
nav ul li a:hover {
    /* text-decoration: underline; */
    /* border-bottom: thin solid  #093fab; */
    color: #093fab !important;
    transition: .5s;

    .Home-icon,
    .About-icon,
    .Programs-icon,
    .blog-icon,
    .Career-icon,
    .contact-icon {
        fill: #093fab;
        transition: .5s;
    }
}

.nav-item {
    margin-right: 80px;
    font-family: "Roboto", sans-serif !important;
}

.nav-link {
    /* border-bottom: thin solid  #ffffff; */
    transition: .5s;
    color: #04a7ac !important;
}

.nav-item-last {
    margin-right: 0;
}

.offcanvas-title img {
    height: 80px;
}

.Home-icon,
.Programs-icon,
.About-icon,
.Career-icon,
.blog-icon,
.contact-icon {
    fill: #04a7ac;
}

.Home-svg {
    margin-left: 11px;
    height: 20px;
    display: block;
}

.Abt-svg {
    height: 24px;
    margin-left: 20px;
    display: block;

}

.Programs-svg {
    height: 24px;
    margin-left: 18px;
    display: block;
}

.Career-svg {
    height: 26px;
    margin-left: 15px;
    display: block;

}

.blog-svg_1 {
    height: 24px;
    /* margin-left: 15px; */
    display: block;
}

.contact-svg {
    height: 22px;
    margin-left: 25px;
    display: block;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas-header {
    border-bottom: thin solid #9c9c9c;
}

.offcanvas.hiding,
.offcanvas.show {

    .Home-svg,
    .Abt-svg,
    .Programs-svg,
    .blog-svg,
    .contact-svg,
    .Career-svg,
    .blog-svg_1 {
        margin-left: 0;
        margin-right: 30px;
        display: inline;
    }

    .nav-item {
        margin-top: 20px;
    }
}

.offcanvas.hiding,
.offcanvas.show {

    li a.active,
    li a:hover {
        text-decoration: none;
    }
}

.dropdown-menu {
    margin-left: -133px;
    border: thin solid white;
    /* background-color: #04a7ac; */
}

.dropdown-item {
    /* background-color: #04a7ac; */
    color: #04a7ac;
    
}

.dropdown-item:hover {
    background-color: #04a7ac;
    color: white !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

@media (max-width:1024px) {
    .nav-item {
        margin-right: 40px;
    }

    .nav-item-last {
        margin-right: 0;
    }
}

@media (max-width:769px) {
    .dropdown-menu {
        margin-left: 0;
        width: 116%;
    }

    .dropdown-item {
        white-space: wrap;
    }
}


/* Banner CSS..................................................................................... */

.banner-fluid {
    
    background-color: #04a7ac;
    position: relative;
    padding: 0;
}



.banner-heading {
    font-family: "Sniglet", system-ui;
    color: white;
}

.banner-sub {
    font-family: "Roboto", sans-serif;
    color: white;
    /* text-align: justify; */
}

.banner-row {
    text-align: center;
    align-self: center;
    padding-right: 0;
}

.Abt-banner-img {
    height: 350px;
}

.abt-img-col {
    text-align: center;
}

.cloud-img {
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media (max-width:768px) {
    .banner-row {
        text-align: center;
    }

    .banner-row p {
        text-align: center;
    }
}

@media (max-width: 426px) {
    .Abt-banner-img {
        height: auto;
    }
}

/* <!-- Contact CSS......................................................................................... --> */

.Contact-fluid {
    background-image: url(../Images/img1.webp), url(../Images/img1.webp);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: top 70px left -20px, right -30px bottom 40px;
}

.contact-heading {
    text-align: center;
    margin-top: 40px;
}

.contact-heading h1 {
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
}

.contact-form {
    background-color: #04a7ac;
    color: #000000;
    /* black text color */
    padding: 30px;
    /* border: thin solid red; */
    border-radius: 10px;
    text-align: end;

}

.contact-form input {
    /* display: block; */
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
    /* border: thin solid red; */

}

.contact-form button {
    border: thin solid white;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 5px 25px 5px 25px;
    font-family: "Sniglet", system-ui;
    font-size: larger;
}

.contact-form button:hover {
    background-color: white;
    color: #04a7ac;
}

input::placeholder {
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
}

/* .contact-form .square {
    display: inline-block;
    background-color: #0000FF; blue square
    color: #FFFFFF; white text color
    padding: 10px;
    border-radius: 10px;
    border: thin solid red;
} */

textarea::placeholder {
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
}

textarea {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
    width: 100%;
    height: 150px;
}

.contact-text h2 {
    color: #093fab;
    font-family: Sniglet, system-ui;
}

.contact-text p {
    font-family: "Roboto", sans-serif;
    font-size: large;
    /* font-weight: bold; */
    margin-top: 20px;
}

.contact-text-inner {
    margin-left: 65px;
}

.map {
    width: 92%;
    height: 450px;
}


@media (max-width:769px) {
    .contact-text-inner {
        margin-top: 50px;
        margin-left: 0;
    }

    .contact-text p {
        font-size: medium;
    }
}

@media (max-width:426px) {
    .contact-row {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .map {
        width: 350px !important;
        height: 250px !important;
    }
}

@media (max-width:376px) {
    .map {
        width: 300px !important;
        height: 250px !important;
    }
}

@media (max-width:321px) {
    .map {
        width: 260px !important;
        height: 250px !important;
    }
}

/* Footer section............................................................................................ */

.footer-fluid {
    background-color: #04a7ac;
    background-image: url(../Images/bird.webp), url(../Images/footer-book.webp), url(../Images/footer-book.webp), url(../Images/footer-buttter.webp), url(../Images/footer-buttter.webp), url(../Images//footer-smily.webp);
    background-position: top center, left 18px bottom 30px, top 18px right 45px, top 20px left 20px, top right 500px, bottom 20px right 20px;
    background-repeat: no-repeat;
    justify-content: center !important;
    align-items: center !important;
    color: white;
}

.fotter-row {
    margin: 0 auto;
    width: 85%;
}

.fotter-row li {
    margin-top: 8px;
}

.F-Social-div li img {
    padding-right: 15px;
}